<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, cupiditate!
    </p>
  </header>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt modi
        corrupti, ipsam minima nulla nisi reprehenderit accusantium expedita
        animi dolor!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srccset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="images/easy@2x.jpg"
        alt="Easy to Learn"
      />
    </picture>
  </article>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur
        eius odit natus repudiandae tempore quas veritatis ullam dignissimos
        magni voluptatum?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srccset="images/fast.jpg 1x, images/fast@2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="images/fast@2x.jpg"
        alt="Easy to Learn"
      />
    </picture>
  </article>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quasi
        excepturi veniam voluptates dicta similique eaque numquam quaerat,
        laboriosam necessitatibus.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srccset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="images/wordpress@2x.jpg"
        alt="Easy to Learn"
      />
    </picture>
  </article>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, laborum
        assumenda. Cupiditate nostrum ab temporibus voluptate autem, adipisci
        voluptatem fugiat!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/support.webp 1x, images/support@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srccset="images/support.jpg 1x, images/support@2x.jpg 2x"
      />
      <img
        class="feature__image"
        src="images/support@2x.jpg"
        alt="Easy to Learn"
      />
    </picture>
  </article>
</section>
